# Indicate that this is the root configuration file
root = true

# Intended format for all files, lf is \n, the single-byte newline we use on both mac and windows
[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
